.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.counter{
  min-width: 250px;
  background-color: cadetblue;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 8px;
}
.displayWrap{
  width: 180px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
  border-radius: 12px;
}
.display{
  font-size: 25px;
  font-weight: 600;
}
.display.notify{
  font-size: 14px;
}
.display.red, .display.error{
  color: red;
}

.btnWrap{
  display: flex;
  align-items: center;
  gap: 16px;
}

button{
  padding: 8px 16px;
  background-color: #0087e0;
  border: 1px solid transparent;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

button.disabled{
  opacity: 0.4;
  pointer-events: none;
}

